
.header, .container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-family: 'Henny Penny', cursive;
    background:  linear-gradient(red, rgb(10, 10, 9), blue, orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
body{
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(104, 105, 88) ;
    min-height: 100vh;
    background-position: center;
    
}
.inputField {
    padding: 25px;
    width: 40%;
    border-radius: 25px;

}
.btn {
    color: rgb(8, 2, 2);
    font-weight: bold;
    background-color: rgb(49, 34, 253);
    border-radius: 15px;
}
.toDoAdded {
    background: #0084ff;
    color: black;
    list-style: none;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 30px;
    width: 50%;
    border-radius: 15px;
    border: 2px rgb(19, 13, 13) solid;
    font-family: 'Henny Penny', cursive;
}
.toDoContainer {
    display: flex;
    flex-direction: column;
     align-items: center;
}
.toDoCompleted {
    background: #a80707;
    color: #08080f ;
    font-weight: bold;
    text-decoration: line-through;
   transition: all 2s ease;
}
@media all and (max-width: 800px){
    h1 {
        font-size: 40px;
    }
}
@media all and (max-width: 500px) {
   h1 {
    font-size: 25px;
   }
   .toDoAdded {
       width: 80%;
   }
}